/* .qr-verify-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .file-input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }
  
  .qr-info-box {
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .info-box {
    background-color: #f0f8ff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
  }
   */